.topBar {
  position: relative;
  background-color: var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  .topBar_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--desktopContainer);
    margin: auto;
    padding: 20px 0;
    @media (max-width: 1440px) {
      width: var(--mobileContainer);
    }
    @media (max-width: 600px) {
      width: var(--mobileContainer);
      h2 {
        font-size: 1rem;
      }
    }
    @media (min-width: 1921px) {
      width: var(--biggerContainer);
    }
  }
}
