.topBar {
  position: relative;
  background-color: var(--white);
  border-bottom: solid 4px var(--veryLightWhite);
  width: 100%;
  .topBar_container {
    position: relative;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    .topBar_logo {
    }
    @media (max-width: 700px) {
      & h2 {
        font-size: 1rem;
      }
    }
  }
}
