.search {
  width: 400px;
  padding: 20px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  transition: background 300ms ease-in-out;
  @media (max-width: 800px) {
    width: 100%;
    margin-bottom: 20px;
  }
  i {
    font-size: 1.2rem;
  }
  input {
    outline: 0;
    border: 0;
    background: none;
    margin-left: 10px;
    width: 100%;
    font-size: 1rem;
    text-transform: capitalize;
  }
}
