.card {
  position: relative;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: background 300ms ease-in-out;
  &_image {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 56.25%;
    span {
      display: none;
    }
  }
  &_content {
    padding: 20px;
    p {
      margin-bottom: 5px;
    }
  }
  &_title {
    margin-bottom: 20px;
  }
}
