.filterBar {
  display: flex;
  justify-content: space-between;
  width: var(--desktopContainer);
  margin: 50px auto;
  @media (min-width: 1921px) {
    width: var(--biggerContainer);
  }
  @media (max-width: 1440px) {
    width: var(--mobileContainer);
  }
  @media (max-width: 800px) {
    flex-direction: column;
    margin: 20px auto;
  }
}
